[viewBag]
==
use Offline\Mall\Models\Category;
function onStart(){
$this['electronic']=Category::where("code","electronics")->first();
}
==

<section class="padding-bottom">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">{{electronic.name}}</h4>
    </header>
    
    <div class="card card-home-category">
    <div class="row no-gutters">
        <div class="col-md-3">
        
        <div class="home-category-banner bg-light-orange">
            <h5 class="title">{{electronic.description_short}}</h5>
            <p>{{electronic.description|raw}}</p>
            <a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
            <img src="{{electronic.image.path}}" class="img-bg">
        </div>
    
        </div> <!-- col.// -->
        <div class="col-md-9">
    <ul class="row no-gutters bordered-cols">
        {% for subElec in electronic.children %}
     <li class="col-6 col-lg-3 col-md-4">
    <a href="#" class="item"> 
        <div class="card-body">
            <h6 class="title">{{subElec.name}} </h6>
            <img class="img-sm float-right" src="{{subElec.image.path}}"> 
            <p class="text-muted"><i class="fa fa-map-marker-alt"></i>{{subElec.description_short}}</p>
        </div>
    </a>
        </li>
 {% endfor %}
    </ul>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    </div> <!-- card.// -->
    </section>